<?xml version="1.0"?>

<config>
    <modules>
        <VS7_Dadata>
            <version>2.0.0</version>
        </VS7_Dadata>
    </modules>
    <global>
        <helpers>
            <vs7_dadata>
                <class>VS7_Dadata_Helper</class>
            </vs7_dadata>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dadata>
                                            <title>Dadata</title>
                                        </dadata>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <vs7_dadata>
                    <file>vs7_dadata.xml</file>
                </vs7_dadata>
            </updates>
        </layout>
    </frontend>
    <default>
        <vs7_dadata>
            <billing_info_settings>
                <first_name>billing:firstname</first_name>
                <last_name>billing:lastname</last_name>
                <address>billing:street1</address>
                <city>billing:city</city>
                <postal_code>billing:postcode</postal_code>
            </billing_info_settings>
            <shipping_info_settings>
                <first_name>shipping:firstname</first_name>
                <last_name>shipping:lastname</last_name>
                <address>shipping:street1</address>
                <city>shipping:city</city>
                <postal_code>shipping:postcode</postal_code>
            </shipping_info_settings>
            <customer_info_settings>
                <first_name>firstname</first_name>
                <last_name>lastname</last_name>
                <address>street_1</address>
                <city>city</city>
                <postal_code>zip</postal_code>
            </customer_info_settings>
        </vs7_dadata>
    </default>
</config>